<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hsoft.yfzx.jlgs.business.basic.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="hsoft.yfzx.jlgs.business.basic.model.SysUser">
    <id column="ID" jdbcType="VARCHAR" property="ID" />
    <result column="COMPANY_ID" jdbcType="VARCHAR" property="COMPANY_ID" />
    <result column="OFFICE_ID" jdbcType="VARCHAR" property="OFFICE_ID" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="LOGIN_NAME" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="PASSWORD" />
    <result column="NO" jdbcType="VARCHAR" property="NO" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="EMAIL" jdbcType="VARCHAR" property="EMAIL" />
    <result column="PHONE" jdbcType="VARCHAR" property="PHONE" />
    <result column="MOBILE" jdbcType="VARCHAR" property="MOBILE" />
    <result column="USER_TYPE" jdbcType="CHAR" property="USER_TYPE" />
    <result column="PHOTO" jdbcType="VARCHAR" property="PHOTO" />
    <result column="LOGIN_IP" jdbcType="VARCHAR" property="LOGIN_IP" />
    <result column="LOGIN_DATE" jdbcType="TIMESTAMP" property="LOGIN_DATE" />
    <result column="LOGIN_FLAG" jdbcType="VARCHAR" property="LOGIN_FLAG" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="CREATE_BY" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="CREATE_DATE" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="UPDATE_BY" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="UPDATE_DATE" />
    <result column="REMARKS" jdbcType="VARCHAR" property="REMARKS" />
    <result column="DEL_FLAG" jdbcType="CHAR" property="DEL_FLAG" />
    <result column="QRCODE" jdbcType="NVARCHAR" property="QRCODE" />
    <result column="SIGN" jdbcType="NVARCHAR" property="SIGN" />
    <result column="GENDER" jdbcType="CHAR" property="GENDER" />
    <result column="POSITION" jdbcType="VARCHAR" property="POSITION" />
    <result column="POSITION_REMARK" jdbcType="VARCHAR" property="POSITION_REMARK" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="BIRTHDAY" />
    <result column="WORK_YEARS" jdbcType="TIMESTAMP" property="WORK_YEARS" />
    <result column="WORK_STATE" jdbcType="CHAR" property="WORK_STATE" />
    <result column="DUTY" jdbcType="VARCHAR" property="DUTY" />
    <result column="POLITICS" jdbcType="VARCHAR" property="POLITICS" />
    <result column="VERSIONSTAMP" jdbcType="NUMERIC" property="VERSIONSTAMP" />
    <result column="DEVICETYPE" jdbcType="VARCHAR" property="DEVICETYPE" />
    <result column="IMEI" jdbcType="VARCHAR" property="IMEI" />
    <result column="SORT" jdbcType="NUMERIC" property="SORT" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, COMPANY_ID, OFFICE_ID, LOGIN_NAME, PASSWORD, NO, NAME, EMAIL, PHONE, MOBILE, 
    USER_TYPE, PHOTO, LOGIN_IP, LOGIN_DATE, LOGIN_FLAG, CREATE_BY, CREATE_DATE, UPDATE_BY, 
    UPDATE_DATE, REMARKS, DEL_FLAG, QRCODE, SIGN, GENDER, POSITION, POSITION_REMARK, 
    BIRTHDAY, WORK_YEARS, WORK_STATE, DUTY, POLITICS, VERSIONSTAMP, DEVICETYPE, IMEI, 
    SORT
  </sql>
  <select id="selectByExample" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where ID = #{ID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_USER
    where ID = #{ID,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUserExample">
    delete from SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUser">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SYS_USER (COMPANY_ID, OFFICE_ID, LOGIN_NAME, 
      PASSWORD, NO, NAME, 
      EMAIL, PHONE, MOBILE, 
      USER_TYPE, PHOTO, LOGIN_IP, 
      LOGIN_DATE, LOGIN_FLAG, CREATE_BY, 
      CREATE_DATE, UPDATE_BY, UPDATE_DATE, 
      REMARKS, DEL_FLAG, QRCODE, 
      SIGN, GENDER, POSITION, 
      POSITION_REMARK, BIRTHDAY, WORK_YEARS, 
      WORK_STATE, DUTY, POLITICS, 
      VERSIONSTAMP, DEVICETYPE, IMEI, 
      SORT)
    values (#{COMPANY_ID,jdbcType=VARCHAR}, #{OFFICE_ID,jdbcType=VARCHAR}, #{LOGIN_NAME,jdbcType=VARCHAR}, 
      #{PASSWORD,jdbcType=VARCHAR}, #{NO,jdbcType=VARCHAR}, #{NAME,jdbcType=VARCHAR}, 
      #{EMAIL,jdbcType=VARCHAR}, #{PHONE,jdbcType=VARCHAR}, #{MOBILE,jdbcType=VARCHAR}, 
      #{USER_TYPE,jdbcType=CHAR}, #{PHOTO,jdbcType=VARCHAR}, #{LOGIN_IP,jdbcType=VARCHAR}, 
      #{LOGIN_DATE,jdbcType=TIMESTAMP}, #{LOGIN_FLAG,jdbcType=VARCHAR}, #{CREATE_BY,jdbcType=VARCHAR}, 
      #{CREATE_DATE,jdbcType=TIMESTAMP}, #{UPDATE_BY,jdbcType=VARCHAR}, #{UPDATE_DATE,jdbcType=TIMESTAMP}, 
      #{REMARKS,jdbcType=VARCHAR}, #{DEL_FLAG,jdbcType=CHAR}, #{QRCODE,jdbcType=NVARCHAR}, 
      #{SIGN,jdbcType=NVARCHAR}, #{GENDER,jdbcType=CHAR}, #{POSITION,jdbcType=VARCHAR}, 
      #{POSITION_REMARK,jdbcType=VARCHAR}, #{BIRTHDAY,jdbcType=TIMESTAMP}, #{WORK_YEARS,jdbcType=TIMESTAMP}, 
      #{WORK_STATE,jdbcType=CHAR}, #{DUTY,jdbcType=VARCHAR}, #{POLITICS,jdbcType=VARCHAR}, 
      #{VERSIONSTAMP,jdbcType=NUMERIC}, #{DEVICETYPE,jdbcType=VARCHAR}, #{IMEI,jdbcType=VARCHAR}, 
      #{SORT,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUser">
    <selectKey keyProperty="ID" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="COMPANY_ID != null">
        COMPANY_ID,
      </if>
      <if test="OFFICE_ID != null">
        OFFICE_ID,
      </if>
      <if test="LOGIN_NAME != null">
        LOGIN_NAME,
      </if>
      <if test="PASSWORD != null">
        PASSWORD,
      </if>
      <if test="NO != null">
        NO,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="EMAIL != null">
        EMAIL,
      </if>
      <if test="PHONE != null">
        PHONE,
      </if>
      <if test="MOBILE != null">
        MOBILE,
      </if>
      <if test="USER_TYPE != null">
        USER_TYPE,
      </if>
      <if test="PHOTO != null">
        PHOTO,
      </if>
      <if test="LOGIN_IP != null">
        LOGIN_IP,
      </if>
      <if test="LOGIN_DATE != null">
        LOGIN_DATE,
      </if>
      <if test="LOGIN_FLAG != null">
        LOGIN_FLAG,
      </if>
      <if test="CREATE_BY != null">
        CREATE_BY,
      </if>
      <if test="CREATE_DATE != null">
        CREATE_DATE,
      </if>
      <if test="UPDATE_BY != null">
        UPDATE_BY,
      </if>
      <if test="UPDATE_DATE != null">
        UPDATE_DATE,
      </if>
      <if test="REMARKS != null">
        REMARKS,
      </if>
      <if test="DEL_FLAG != null">
        DEL_FLAG,
      </if>
      <if test="QRCODE != null">
        QRCODE,
      </if>
      <if test="SIGN != null">
        SIGN,
      </if>
      <if test="GENDER != null">
        GENDER,
      </if>
      <if test="POSITION != null">
        POSITION,
      </if>
      <if test="POSITION_REMARK != null">
        POSITION_REMARK,
      </if>
      <if test="BIRTHDAY != null">
        BIRTHDAY,
      </if>
      <if test="WORK_YEARS != null">
        WORK_YEARS,
      </if>
      <if test="WORK_STATE != null">
        WORK_STATE,
      </if>
      <if test="DUTY != null">
        DUTY,
      </if>
      <if test="POLITICS != null">
        POLITICS,
      </if>
      <if test="VERSIONSTAMP != null">
        VERSIONSTAMP,
      </if>
      <if test="DEVICETYPE != null">
        DEVICETYPE,
      </if>
      <if test="IMEI != null">
        IMEI,
      </if>
      <if test="SORT != null">
        SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="COMPANY_ID != null">
        #{COMPANY_ID,jdbcType=VARCHAR},
      </if>
      <if test="OFFICE_ID != null">
        #{OFFICE_ID,jdbcType=VARCHAR},
      </if>
      <if test="LOGIN_NAME != null">
        #{LOGIN_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null">
        #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="NO != null">
        #{NO,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null">
        #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="PHONE != null">
        #{PHONE,jdbcType=VARCHAR},
      </if>
      <if test="MOBILE != null">
        #{MOBILE,jdbcType=VARCHAR},
      </if>
      <if test="USER_TYPE != null">
        #{USER_TYPE,jdbcType=CHAR},
      </if>
      <if test="PHOTO != null">
        #{PHOTO,jdbcType=VARCHAR},
      </if>
      <if test="LOGIN_IP != null">
        #{LOGIN_IP,jdbcType=VARCHAR},
      </if>
      <if test="LOGIN_DATE != null">
        #{LOGIN_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="LOGIN_FLAG != null">
        #{LOGIN_FLAG,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_BY != null">
        #{CREATE_BY,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_DATE != null">
        #{CREATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATE_BY != null">
        #{UPDATE_BY,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_DATE != null">
        #{UPDATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="REMARKS != null">
        #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="DEL_FLAG != null">
        #{DEL_FLAG,jdbcType=CHAR},
      </if>
      <if test="QRCODE != null">
        #{QRCODE,jdbcType=NVARCHAR},
      </if>
      <if test="SIGN != null">
        #{SIGN,jdbcType=NVARCHAR},
      </if>
      <if test="GENDER != null">
        #{GENDER,jdbcType=CHAR},
      </if>
      <if test="POSITION != null">
        #{POSITION,jdbcType=VARCHAR},
      </if>
      <if test="POSITION_REMARK != null">
        #{POSITION_REMARK,jdbcType=VARCHAR},
      </if>
      <if test="BIRTHDAY != null">
        #{BIRTHDAY,jdbcType=TIMESTAMP},
      </if>
      <if test="WORK_YEARS != null">
        #{WORK_YEARS,jdbcType=TIMESTAMP},
      </if>
      <if test="WORK_STATE != null">
        #{WORK_STATE,jdbcType=CHAR},
      </if>
      <if test="DUTY != null">
        #{DUTY,jdbcType=VARCHAR},
      </if>
      <if test="POLITICS != null">
        #{POLITICS,jdbcType=VARCHAR},
      </if>
      <if test="VERSIONSTAMP != null">
        #{VERSIONSTAMP,jdbcType=NUMERIC},
      </if>
      <if test="DEVICETYPE != null">
        #{DEVICETYPE,jdbcType=VARCHAR},
      </if>
      <if test="IMEI != null">
        #{IMEI,jdbcType=VARCHAR},
      </if>
      <if test="SORT != null">
        #{SORT,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUserExample" resultType="java.lang.Long">
    select count(*) from SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_USER
    <set>
      <if test="record.ID != null">
        ID = #{record.ID,jdbcType=VARCHAR},
      </if>
      <if test="record.COMPANY_ID != null">
        COMPANY_ID = #{record.COMPANY_ID,jdbcType=VARCHAR},
      </if>
      <if test="record.OFFICE_ID != null">
        OFFICE_ID = #{record.OFFICE_ID,jdbcType=VARCHAR},
      </if>
      <if test="record.LOGIN_NAME != null">
        LOGIN_NAME = #{record.LOGIN_NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.PASSWORD != null">
        PASSWORD = #{record.PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="record.NO != null">
        NO = #{record.NO,jdbcType=VARCHAR},
      </if>
      <if test="record.NAME != null">
        NAME = #{record.NAME,jdbcType=VARCHAR},
      </if>
      <if test="record.EMAIL != null">
        EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="record.PHONE != null">
        PHONE = #{record.PHONE,jdbcType=VARCHAR},
      </if>
      <if test="record.MOBILE != null">
        MOBILE = #{record.MOBILE,jdbcType=VARCHAR},
      </if>
      <if test="record.USER_TYPE != null">
        USER_TYPE = #{record.USER_TYPE,jdbcType=CHAR},
      </if>
      <if test="record.PHOTO != null">
        PHOTO = #{record.PHOTO,jdbcType=VARCHAR},
      </if>
      <if test="record.LOGIN_IP != null">
        LOGIN_IP = #{record.LOGIN_IP,jdbcType=VARCHAR},
      </if>
      <if test="record.LOGIN_DATE != null">
        LOGIN_DATE = #{record.LOGIN_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="record.LOGIN_FLAG != null">
        LOGIN_FLAG = #{record.LOGIN_FLAG,jdbcType=VARCHAR},
      </if>
      <if test="record.CREATE_BY != null">
        CREATE_BY = #{record.CREATE_BY,jdbcType=VARCHAR},
      </if>
      <if test="record.CREATE_DATE != null">
        CREATE_DATE = #{record.CREATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="record.UPDATE_BY != null">
        UPDATE_BY = #{record.UPDATE_BY,jdbcType=VARCHAR},
      </if>
      <if test="record.UPDATE_DATE != null">
        UPDATE_DATE = #{record.UPDATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="record.REMARKS != null">
        REMARKS = #{record.REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="record.DEL_FLAG != null">
        DEL_FLAG = #{record.DEL_FLAG,jdbcType=CHAR},
      </if>
      <if test="record.QRCODE != null">
        QRCODE = #{record.QRCODE,jdbcType=NVARCHAR},
      </if>
      <if test="record.SIGN != null">
        SIGN = #{record.SIGN,jdbcType=NVARCHAR},
      </if>
      <if test="record.GENDER != null">
        GENDER = #{record.GENDER,jdbcType=CHAR},
      </if>
      <if test="record.POSITION != null">
        POSITION = #{record.POSITION,jdbcType=VARCHAR},
      </if>
      <if test="record.POSITION_REMARK != null">
        POSITION_REMARK = #{record.POSITION_REMARK,jdbcType=VARCHAR},
      </if>
      <if test="record.BIRTHDAY != null">
        BIRTHDAY = #{record.BIRTHDAY,jdbcType=TIMESTAMP},
      </if>
      <if test="record.WORK_YEARS != null">
        WORK_YEARS = #{record.WORK_YEARS,jdbcType=TIMESTAMP},
      </if>
      <if test="record.WORK_STATE != null">
        WORK_STATE = #{record.WORK_STATE,jdbcType=CHAR},
      </if>
      <if test="record.DUTY != null">
        DUTY = #{record.DUTY,jdbcType=VARCHAR},
      </if>
      <if test="record.POLITICS != null">
        POLITICS = #{record.POLITICS,jdbcType=VARCHAR},
      </if>
      <if test="record.VERSIONSTAMP != null">
        VERSIONSTAMP = #{record.VERSIONSTAMP,jdbcType=NUMERIC},
      </if>
      <if test="record.DEVICETYPE != null">
        DEVICETYPE = #{record.DEVICETYPE,jdbcType=VARCHAR},
      </if>
      <if test="record.IMEI != null">
        IMEI = #{record.IMEI,jdbcType=VARCHAR},
      </if>
      <if test="record.SORT != null">
        SORT = #{record.SORT,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_USER
    set ID = #{record.ID,jdbcType=VARCHAR},
      COMPANY_ID = #{record.COMPANY_ID,jdbcType=VARCHAR},
      OFFICE_ID = #{record.OFFICE_ID,jdbcType=VARCHAR},
      LOGIN_NAME = #{record.LOGIN_NAME,jdbcType=VARCHAR},
      PASSWORD = #{record.PASSWORD,jdbcType=VARCHAR},
      NO = #{record.NO,jdbcType=VARCHAR},
      NAME = #{record.NAME,jdbcType=VARCHAR},
      EMAIL = #{record.EMAIL,jdbcType=VARCHAR},
      PHONE = #{record.PHONE,jdbcType=VARCHAR},
      MOBILE = #{record.MOBILE,jdbcType=VARCHAR},
      USER_TYPE = #{record.USER_TYPE,jdbcType=CHAR},
      PHOTO = #{record.PHOTO,jdbcType=VARCHAR},
      LOGIN_IP = #{record.LOGIN_IP,jdbcType=VARCHAR},
      LOGIN_DATE = #{record.LOGIN_DATE,jdbcType=TIMESTAMP},
      LOGIN_FLAG = #{record.LOGIN_FLAG,jdbcType=VARCHAR},
      CREATE_BY = #{record.CREATE_BY,jdbcType=VARCHAR},
      CREATE_DATE = #{record.CREATE_DATE,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.UPDATE_BY,jdbcType=VARCHAR},
      UPDATE_DATE = #{record.UPDATE_DATE,jdbcType=TIMESTAMP},
      REMARKS = #{record.REMARKS,jdbcType=VARCHAR},
      DEL_FLAG = #{record.DEL_FLAG,jdbcType=CHAR},
      QRCODE = #{record.QRCODE,jdbcType=NVARCHAR},
      SIGN = #{record.SIGN,jdbcType=NVARCHAR},
      GENDER = #{record.GENDER,jdbcType=CHAR},
      POSITION = #{record.POSITION,jdbcType=VARCHAR},
      POSITION_REMARK = #{record.POSITION_REMARK,jdbcType=VARCHAR},
      BIRTHDAY = #{record.BIRTHDAY,jdbcType=TIMESTAMP},
      WORK_YEARS = #{record.WORK_YEARS,jdbcType=TIMESTAMP},
      WORK_STATE = #{record.WORK_STATE,jdbcType=CHAR},
      DUTY = #{record.DUTY,jdbcType=VARCHAR},
      POLITICS = #{record.POLITICS,jdbcType=VARCHAR},
      VERSIONSTAMP = #{record.VERSIONSTAMP,jdbcType=NUMERIC},
      DEVICETYPE = #{record.DEVICETYPE,jdbcType=VARCHAR},
      IMEI = #{record.IMEI,jdbcType=VARCHAR},
      SORT = #{record.SORT,jdbcType=NUMERIC}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUser">
    update SYS_USER
    <set>
      <if test="COMPANY_ID != null">
        COMPANY_ID = #{COMPANY_ID,jdbcType=VARCHAR},
      </if>
      <if test="OFFICE_ID != null">
        OFFICE_ID = #{OFFICE_ID,jdbcType=VARCHAR},
      </if>
      <if test="LOGIN_NAME != null">
        LOGIN_NAME = #{LOGIN_NAME,jdbcType=VARCHAR},
      </if>
      <if test="PASSWORD != null">
        PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      </if>
      <if test="NO != null">
        NO = #{NO,jdbcType=VARCHAR},
      </if>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="EMAIL != null">
        EMAIL = #{EMAIL,jdbcType=VARCHAR},
      </if>
      <if test="PHONE != null">
        PHONE = #{PHONE,jdbcType=VARCHAR},
      </if>
      <if test="MOBILE != null">
        MOBILE = #{MOBILE,jdbcType=VARCHAR},
      </if>
      <if test="USER_TYPE != null">
        USER_TYPE = #{USER_TYPE,jdbcType=CHAR},
      </if>
      <if test="PHOTO != null">
        PHOTO = #{PHOTO,jdbcType=VARCHAR},
      </if>
      <if test="LOGIN_IP != null">
        LOGIN_IP = #{LOGIN_IP,jdbcType=VARCHAR},
      </if>
      <if test="LOGIN_DATE != null">
        LOGIN_DATE = #{LOGIN_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="LOGIN_FLAG != null">
        LOGIN_FLAG = #{LOGIN_FLAG,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_BY != null">
        CREATE_BY = #{CREATE_BY,jdbcType=VARCHAR},
      </if>
      <if test="CREATE_DATE != null">
        CREATE_DATE = #{CREATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATE_BY != null">
        UPDATE_BY = #{UPDATE_BY,jdbcType=VARCHAR},
      </if>
      <if test="UPDATE_DATE != null">
        UPDATE_DATE = #{UPDATE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="REMARKS != null">
        REMARKS = #{REMARKS,jdbcType=VARCHAR},
      </if>
      <if test="DEL_FLAG != null">
        DEL_FLAG = #{DEL_FLAG,jdbcType=CHAR},
      </if>
      <if test="QRCODE != null">
        QRCODE = #{QRCODE,jdbcType=NVARCHAR},
      </if>
      <if test="SIGN != null">
        SIGN = #{SIGN,jdbcType=NVARCHAR},
      </if>
      <if test="GENDER != null">
        GENDER = #{GENDER,jdbcType=CHAR},
      </if>
      <if test="POSITION != null">
        POSITION = #{POSITION,jdbcType=VARCHAR},
      </if>
      <if test="POSITION_REMARK != null">
        POSITION_REMARK = #{POSITION_REMARK,jdbcType=VARCHAR},
      </if>
      <if test="BIRTHDAY != null">
        BIRTHDAY = #{BIRTHDAY,jdbcType=TIMESTAMP},
      </if>
      <if test="WORK_YEARS != null">
        WORK_YEARS = #{WORK_YEARS,jdbcType=TIMESTAMP},
      </if>
      <if test="WORK_STATE != null">
        WORK_STATE = #{WORK_STATE,jdbcType=CHAR},
      </if>
      <if test="DUTY != null">
        DUTY = #{DUTY,jdbcType=VARCHAR},
      </if>
      <if test="POLITICS != null">
        POLITICS = #{POLITICS,jdbcType=VARCHAR},
      </if>
      <if test="VERSIONSTAMP != null">
        VERSIONSTAMP = #{VERSIONSTAMP,jdbcType=NUMERIC},
      </if>
      <if test="DEVICETYPE != null">
        DEVICETYPE = #{DEVICETYPE,jdbcType=VARCHAR},
      </if>
      <if test="IMEI != null">
        IMEI = #{IMEI,jdbcType=VARCHAR},
      </if>
      <if test="SORT != null">
        SORT = #{SORT,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hsoft.yfzx.jlgs.business.basic.model.SysUser">
    update SYS_USER
    set COMPANY_ID = #{COMPANY_ID,jdbcType=VARCHAR},
      OFFICE_ID = #{OFFICE_ID,jdbcType=VARCHAR},
      LOGIN_NAME = #{LOGIN_NAME,jdbcType=VARCHAR},
      PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
      NO = #{NO,jdbcType=VARCHAR},
      NAME = #{NAME,jdbcType=VARCHAR},
      EMAIL = #{EMAIL,jdbcType=VARCHAR},
      PHONE = #{PHONE,jdbcType=VARCHAR},
      MOBILE = #{MOBILE,jdbcType=VARCHAR},
      USER_TYPE = #{USER_TYPE,jdbcType=CHAR},
      PHOTO = #{PHOTO,jdbcType=VARCHAR},
      LOGIN_IP = #{LOGIN_IP,jdbcType=VARCHAR},
      LOGIN_DATE = #{LOGIN_DATE,jdbcType=TIMESTAMP},
      LOGIN_FLAG = #{LOGIN_FLAG,jdbcType=VARCHAR},
      CREATE_BY = #{CREATE_BY,jdbcType=VARCHAR},
      CREATE_DATE = #{CREATE_DATE,jdbcType=TIMESTAMP},
      UPDATE_BY = #{UPDATE_BY,jdbcType=VARCHAR},
      UPDATE_DATE = #{UPDATE_DATE,jdbcType=TIMESTAMP},
      REMARKS = #{REMARKS,jdbcType=VARCHAR},
      DEL_FLAG = #{DEL_FLAG,jdbcType=CHAR},
      QRCODE = #{QRCODE,jdbcType=NVARCHAR},
      SIGN = #{SIGN,jdbcType=NVARCHAR},
      GENDER = #{GENDER,jdbcType=CHAR},
      POSITION = #{POSITION,jdbcType=VARCHAR},
      POSITION_REMARK = #{POSITION_REMARK,jdbcType=VARCHAR},
      BIRTHDAY = #{BIRTHDAY,jdbcType=TIMESTAMP},
      WORK_YEARS = #{WORK_YEARS,jdbcType=TIMESTAMP},
      WORK_STATE = #{WORK_STATE,jdbcType=CHAR},
      DUTY = #{DUTY,jdbcType=VARCHAR},
      POLITICS = #{POLITICS,jdbcType=VARCHAR},
      VERSIONSTAMP = #{VERSIONSTAMP,jdbcType=NUMERIC},
      DEVICETYPE = #{DEVICETYPE,jdbcType=VARCHAR},
      IMEI = #{IMEI,jdbcType=VARCHAR},
      SORT = #{SORT,jdbcType=NUMERIC}
    where ID = #{ID,jdbcType=VARCHAR}
  </update>
</mapper>